
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

  <title> Game Details | Single</title>

</head>


<body>

<div id="site-content">
  <app-header></app-header>
  <main class="main-content">
    <div class="container">
      <div class="page">
        <div class="breadcrumbs">
          <div class="container">
            <a href="index.html">Home</a>
            <span>{{game.title}}</span>
          </div>
        </div>

        <div class="entry-content">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="product-images">
                <figure class="large-image">
                  <a href="dummy/image-1.jpg"><img [src]='sanitizeImageUrl(game.cover.toString())' alt=""></a>

                </figure>
              </div>
            </div>
            <div class="col-sm-6 col-md-8">
              <h2 class="entry-title" >{{game.title}}</h2>
              <small class="price">${{game.price}}</small>
              <p>{{game.description}}</p>
              <div class="addtocart-bar">
                <form action="#">
                  <input type="submit" value="Like" style="margin:5px;" (click)="like()" (mouseover)="hover=true" (mouseleave)="hover=false" [ngStyle]="{backgroundColor: hover==true ? 'red' : '' }">
                </form>


                <div class="social-links square">
                  <strong>Share</strong>
                  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                  <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                </div>
              </div>
              <section>
                <iframe width="750" height="450" [src]='sanitizer.bypassSecurityTrustResourceUrl(game.video)' frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

              </section>
            </div>
          </div>
        </div>


      </div>
    </div> <!-- .container -->
  </main> <!-- .main-content -->

<app-footer></app-footer> <!-- .site-footer -->
</div>

<div class="overlay"></div>

<div class="auth-popup popup">
  <a href="#" class="close"><i class="fa fa-close"></i></a>
  <div class="row">
    <div class="col-md-6">
      <h2 class="section-title">Login</h2>
      <form action="#">
        <input type="text" placeholder="Username...">
        <input type="password" placeholder="Password...">
        <input type="submit" value="Login">
      </form>
    </div> <!-- .column -->
    <div class="col-md-6">
      <h2 class="section-title">Create an account</h2>
      <form action="#">
        <input type="text" placeholder="Username...">
        <input type="text" placeholder="Email address...">
        <input type="submit" value="register">
      </form>
    </div> <!-- .column -->
  </div> <!-- .row -->
</div> <!-- .auth-popup -->

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/app.js"></script>

</body>

</html>


