
<div id="site-content">
 <app-header></app-header>
<section>
  <div class="row" [hidden]="l>4">
    <div class="home-slider">
      <ul class="slides">

        <li >
          <div class="container" >
            <div *ngFor="let g of listgames | slice:0:1">
              <div class="slide-content" >
                <h2 class="slide-title">{{g.title}}</h2>
                <small class="slide-subtitle">${{g.price}}</small>
                <p>{{g.description}}</p>
                <a routerLink="/detail/{{g.id}}"  class="button" (mouseover)="hover=true" (mouseleave)="hover=false" [ngStyle]="{backgroundColor: hover==true ? 'red' : '' }">Read Details</a>
              </div>

              <img [src]='sanitizeImageUrl(g.cover.toString())' class="slide-image">
            </div>
          </div>
        </li>
        <li >
          <div class="container" >
            <div *ngFor="let g of listgames | slice:2:3">
              <div class="slide-content" >
                <h2 class="slide-title">{{g.title}}</h2>
                <small class="slide-subtitle">${{g.price}}</small>
                <p>{{g.description}}</p>
                <a routerLink="/detail/{{g.id}}"  class="button" (mouseover)="hover=true" (mouseleave)="hover=false" [ngStyle]="{backgroundColor: hover==true ? 'red' : '' }">Read Details</a>

              </div>

              <img [src]='sanitizeImageUrl(g.cover.toString())' class="slide-image">
            </div>
          </div>
        </li>
        <li >
          <div class="container" >
            <div *ngFor="let g of listgames | slice:1:2">
              <div class="slide-content" >
                <h2 class="slide-title">{{g.title}}</h2>
                <small class="slide-subtitle">${{g.price}}</small>
                <p >{{g.description}}</p>
                <a routerLink="/detail/{{g.id}}"  class="button" (mouseover)="hover=true" (mouseleave)="hover=false" [ngStyle]="{backgroundColor: hover==true ? 'red' : '' }">Read Details</a>
              </div>

              <img [src]='sanitizeImageUrl(g.cover.toString())' class="slide-image">
            </div>
          </div>
        </li>
      </ul> <!-- .slides -->
    </div> <!-- .home-slider -->
  </div>
</section>







        <section>
        <app-list [l]="l" (callParentFunction)="parenFunction($event)" ></app-list>
        </section>

<app-footer></app-footer>
</div>

<router-outlet></router-outlet>
